<template name="dashboard">
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">Today</span>
                    <h5>Container</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{ Containers.count }}</h1>
                    <div class="stat-percent font-bold text-navy">20% <i class="fa fa-level-up"></i>
                    </div>
                    <small>Containers</small>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">Today</span>
                    <h5>Images</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">10</h1>
                    <div class="stat-percent font-bold text-navy">20% <i class="fa fa-level-up"></i>
                    </div>
                    <small>Images</small>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">Today</span>
                    <h5>Hosts</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">10</h1>
                    <div class="stat-percent font-bold text-navy">20% <i class="fa fa-level-up"></i>
                    </div>
                    <small>Hosts</small>
                </div>
            </div>
        </div>
    </div>
</template>