<template name="dashboard">
    <div class="row">
        <div class="col-lg-4">
            <div id="container-box" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Containers</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{ containers.count }}</h1>
                    <small>Containers</small>
                    <div class="text-right">
                        <a href="{{pathFor 'containers'}}" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Images</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{ images.count }}</h1>
                    <small>Images</small>
                    <div class="text-right">
                        <a href="{{pathFor 'images'}}" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Hosts</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{ hosts.count }}</h1>
                    <small>Hosts</small>
                    <div class="text-right">
                        <a href="{{pathFor 'hosts'}}" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>